.App {
  text-align: center;
  background-color: #fff2f4;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #ff4957;
  height: 35vh;
  width: 25vw;

  color: white;
  border-radius: 7px;
}
.counter {
  font-size: 50px;
  margin-top: 20px;
}
.decrement {
  height: 5vh;
  width: 7vw;
  margin: 15px;
}
.increment {
  height: 5vh;
  width: 7vw;
  margin: 15px;
}
